@import "styles/variables.scss";

.slot {
    & > div.empty {
        width:30px;
        height:30px;

        border: 1px solid $secondary;
        border-radius: 50%;
        background-color: $dark;
    }
}
