@import "styles/variables.scss";

.slot {
  & > div.empty {
    width: 30px;
    height: 30px;

    border: 1px solid $secondary;
    border-radius: 50%;
    background-color: $dark;
  }

  .level {
    width: fit-content;
    font-size: 9px;

    position: relative;
    left: 11px;
    top: -10px;

    background-color: $dark;
    border-radius: 50%;
    padding: 1px;
  }
}
