@import "styles/variables.scss";

.slot {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  position: relative;

  & > div.empty {
    width: 30px;
    height: 30px;

    border: 1px solid $secondary;
    border-radius: 50%;
    background-color: $dark;
  }

  .removeEnh {
    visibility: hidden;
    font-size: 12px;
    color: red;
  }

  .hoverInfo {
    visibility: hidden;

    & > div {
      left: 15px;
      white-space: nowrap;
      transform: translateX(-50%);
      top: 2 * $lh;
      background-color: teal;
      padding: $lh/2 5px;

      h4 {
        font-size: 14px;
        line-height: $lh;
        margin-bottom: $lh/2;
      }

      p {
        font-size: 12px;
        line-height: $lh;
        width: fit-content;
      }
    }
  }

  &:hover {
    .removeEnh,
    .hoverInfo {
      visibility: visible;
    }
  }

  & > div.enhancement {
    position: relative;

    img:nth-of-type(2) {
      position: absolute;
      left: 0;
    }
  }

  .level,
  .emptyLevel {
    width: fit-content;
    font-size: 9px;

    position: absolute;
    bottom: 0px;

    background-color: $dark;
    border-radius: 50%;
    padding: 1px;
  }

  .emptyLevel {
    bottom: -3px;
  }
}
