.Import {
  display: flex;
  flex-direction: column;

  label {
    display: block;
    width: 80%;

    margin: 20px auto;

    b {
      font-weight: 800;
    }
  }

  textarea {
    width: 80%;
    height: 500px;
    margin: 0 auto;
  }

  button {
    width: 80%;
    height: 30px;
    margin: 20px auto 0;
  }
}
