@import 'styles/variables.scss';

.Import {
  display: flex;
  flex-direction: column;

  label {
    display: block;
    width: 80%;

    margin: 20px auto;

    b {
      font-weight: 800;
    }
  }

  input {
    width: 80%;
    height: $lh;
    margin: 0 auto;
  }

  button {
    width: 80%;
    height: 30px;
    margin: 20px auto 0;
  }
}

.errorText {
  margin-top: 2 * $lh;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: red;
  }

  ul {
    list-style-type: circle;
    // margin: $lh 0 0 100px;

    li {
      line-height: $lh;
      margin: $lh / 2 0;
    }
  }
}
