@import "styles/variables.scss";

section.PowerSlots {
  width: 70%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding: 0 $lh/2;

  @media #{$desktop} {
    width: 100%;
  }

  h2 {
    width: 100%;
    text-align: center;
  }

  .slotsContainer {
    margin-top: $lh/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .powerContainer {
    width: 190px;
    height: 1.5 * $lh;
    position: relative;
    margin: 0 5px 1.5 * $lh;
  }

  .power {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    overflow: hidden;

    transition: height 0.25s, border-radius 0.25s;
    transition-delay: overflow 0.25s;

    &.toggled {
      cursor: default;
      height: 14 * $lh;
      border-radius: 0;
    }

    & > p {
      font-size: 12px;
      margin: 3px $lh/2 2 * $lh;
    }

    .enhPreviewContainer {
      display: flex;

      .enhPreviewList {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;

        padding: 0 $lh/2;
        max-width: 147px;
        width: 100%;

        .enhPreview {
          margin: $lh/2 2px 0;
          height: 1.5 * $lh;
        }
      }
    }
  }

  .enhancementsContainer {
    display: flex;

    position: relative;
    top: 1.1 * $lh;
  }

  .enhancementSlot {
    margin: 0 1px;
    .enhancementBubble {
      width: 1.5 * $lh;
      height: 1.5 * $lh;
      border: 1px solid white;
      border-radius: 50%;
      background-color: $dark;

      position: relative;
      z-index: 1;
      left: 8px;
    }

    .enhancementBubble + .enhancementBubble {
      margin-left: 2px;
    }

    p {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: fit-content;

      font-size: 8px;
      color: $secondary;
    }
  }
}

.enhancementImage {
  position: relative;
  cursor: pointer;
  height: 1.5 * $lh;
  width: 1.5 * $lh;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 1.5 * $lh;
    width: 1.5 * $lh;
    position: absolute;
  }

  &:hover {
    .EnhHoverMenu {
      display: initial;
    }
  }
}

.EnhHoverMenu {
  display: none;
  z-index: 100;
  position: relative;
  cursor: default;

  .menu {
    position: absolute;
    cursor: default;
    width: 300px;
    background-color: $accent2;
    border: 1px solid white;

    $textColor: $secondary;

    h2 {
      font-size: 12px;
      text-align: left;
      color: $textColor;
      line-height: $lh;
      padding-left: $lh/2;
      padding-right: $lh/2;
      width: fit-content;
    }

    h3 {
      font-size: 10px;
      color: $textColor;
      line-height: $lh;
      // padding-left: $lh/2;
      padding-right: $lh/2;
    }

    .titles {
      display: flex;
      justify-content: space-between;
      margin-top: $lh/2;
    }

    .hoverContainer {
      margin: $lh/2 $lh/2 $lh/2;

      & > div > p {
        margin-left: 13px;
      }

      h3 {
        font-size: 10px;
        color: $textColor;
        line-height: $lh;
        text-align: center;

        &.addFullSet {
          cursor: pointer;
          text-align: center;
          font-size: 12px;
          line-height: $lh;
          margin: $lh/4 0;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      p {
        font-size: 10px;
        line-height: $lh;
        color: $textColor;
      }

      .enhancementContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      .enhancementPill {
        border: 1px solid $secondary;
        border-radius: 20px;
        padding-left: $lh/2;
        padding-right: $lh/2;
        margin: 0 1px $lh/2;
        cursor: pointer;

        &:hover {
          background-color: $secondary;
          color: $dark;
        }

        &.activePill {
          background-color: $secondary;
          color: $dark;

          // &:hover {
          //   background-color: transparent;
          //   color: $secondary;
          // }
        }

        &.inactivePill {
          opacity: 0.5;
          cursor: default;

          &:hover {
            background-color: transparent;
            color: $secondary;
          }
        }
      }

      .bonusContainer {
        display: flex;

        & > p:first-of-type {
          position: absolute;
          left: -7px;
        }

        & > p:nth-of-type(2) {
          margin-right: 5px;
          color: $textColor;
        }

        .bonusText {
          display: flex;
          flex-direction: column;
          color: $textColor;

          span {
            color: $textColor;
          }
        }
      }
    }
  }
}
