@import 'styles/variables.scss';

div.Powers {
  width: 70%;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  padding-top: $lh/2;

  .powerContainer {
    width: 190px;
    height: 1.5 * $lh;
    position: relative;
    // overflow: hidden;
    margin: 0 $lh 1.5 * $lh;
  }

  .power {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    overflow: hidden;

    transition: height 0.25s, border-radius 0.25s;

    &.toggled {
      cursor: default;
      height: 12 * $lh;
      border-radius: 0;
    }

    & > p {
      font-size: 12px;
      margin: 3px $lh/2 2 * $lh;
      cursor: pointer;
    }

    .selectEnhancements {
      display: flex;
      flex-direction: column;

      .enhPreviewList {
        display: flex;
        flex-wrap: wrap;

        .enhPreview {
          margin: $lh/2 1px;
        }
      }
    }
  }

  .enhancementsContainer {
    display: flex;

    position: relative;
    top: 1.1 * $lh;
  }

  .enhancementSlot {
    margin: 0 1px;
    .enhancementBubble {
      width: 1.5 * $lh;
      height: 1.5 * $lh;
      border: 1px solid white;
      border-radius: 50%;
      background-color: $dark;

      position: relative;
      z-index: 1;
      left: 8px;
    }

    .enhancementBubble + .enhancementBubble {
      margin-left: 2px;
    }

    p {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: fit-content;

      font-size: 8px;
      color: $secondary;
    }
  }
}

.enhancementImage {
  position: relative;
  cursor: pointer;
  height: 1.5 * $lh;
  width: 1.5 * $lh;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 1.5 * $lh;
    width: 1.5 * $lh;
    position: absolute;
  }
}
