@import 'styles/variables.scss';

div.Powers {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding-top: $lh/2;

  .powerContainer {
    width: 190px;
    height: 1.5 * $lh;
    position: relative;
    // overflow: hidden;
    margin: 0 $lh 1.5 * $lh;
  }

  .power {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    // overflow: hidden;

    transition: height 0.25s, border-radius 0.25s;

    &.toggled {
      cursor: default;
      height: 12 * $lh;
      border-radius: 0;
    }

    & > p {
      font-size: 12px;
      margin: 3px $lh/2;
      cursor: pointer;
    }

    .enhancementsContainer {
      display: flex;
    }

    .enhancementBubble {
      width: 1.5 * $lh;
      height: 1.5 * $lh;
      border: 1px solid white;
      border-radius: 50%;
      background-color: $dark;

      position: relative;
      z-index: 1;
      left: 5px;

      p {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: fit-content;

        font-size: 8px;
        color: $secondary;
      }
    }

    .enhancementBubble + .enhancementBubble {
      margin-left: 2px;
    }

    .addEnhancements {
      display: flex;
      flex-direction: column;

      .enhancementList {
        display: flex;
        flex-wrap: wrap;

        .enhancementImage {
          position: relative;
          height: 1.5 * $lh;
          width: 1.5 * $lh;
          margin: $lh/2 3px;
          cursor: pointer;

          img {
            position: absolute;
          }
        }
      }
    }
  }
}
