@import "styles/variables.scss";

.selectEnhancements {
  display: flex;
  flex-direction: column;
}

.EnhSectionSelect {
  display: flex;
  justify-content: center;

  width: 100%;

  & > p {
    cursor: pointer;
    margin: 0 $lh/2;
  }
}

.EnhPreviewSubSectionPreview {
  display: flex;
  flex-direction: column;

  p {
    padding: $lh / 2;
  }
}
