@import "styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;

  background-color: $secondary;
  padding: $lh;
  width: 100%;

  margin-bottom: $lh * 2;

  h3,
  p {
    color: black;
  }

  h3 {
    font-size: 1.2rem;
    line-height: $lh;
  }

  p {
    position: relative;
    top: $lh/4;
    left: 27px;
    font-size: 0.8rem;
    line-height: 0.5 * $lh;
    margin: 0.25 * $lh 0;
  }

  .slot {
    width: 30px;
    height: 30px;
    background-color: $main;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 5px;
  }

  & > div:last-of-type {
    display: flex;
    align-items: center;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.enhancementSelection {
  width: 30%;
  min-width: 300px;

  h3,
  h4 {
    color: black;
    line-height: $lh;
    padding: $lh/2;
  }

  .tabs {
    display: flex;
    justify-content: space-evenly;
    // padding-top: 3 * $lh/4;
    background-color: black;

    h3 {
      width: 45%;
      text-align: center;
      background-color: rgba($main, 0.5);
      opacity: 0.5;
      color: $secondary;
      cursor: pointer;
      transition: background-color 0.25s, opacity 0.25s;

      &:hover {
        background-color: $main;
        opacity: 1;
      }

      &.activeTab {
        color: black;
        border-left: 1px solid black;
        background-color: $secondary;
        opacity: 1;
      }
    }
  }

  .tabContent {
    padding-top: $lh;
    width: 100%;
    background-color: $secondary;

    & > div:first-of-type {
      width: 95%;
      margin: 0 auto $lh/2;
    }
  }
}

.renderEnh {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > div {
    margin: 7px;
    padding: 16px;

    &.activeSet {
      border-radius: 50%;
      border: 1px solid black;
      background-color: $main;
    }
  }
}

.enhancementWithOverlay {
  position: relative;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; // Rounds the shadow

  img {
    position: absolute;
  }
}

.setEnhancementsContainer {
  margin-top: 2 * $lh;
  background-color: $secondary;

  h3 {
    text-align: center;
  }

  .setEnhancements {
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;

    .setEnhancement {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 33%;
      margin: $lh/4 0;

      transition: opacity 0.25s;
      opacity: 1;

      &.unavailable {
        opacity: 0.5;
      }

      & > div {
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
      }

      .statPill {
        background-color: black;
        border-radius: 10px;
        padding: 2px;

        display: flex;

        margin: $lh/2 0 $lh;

        $accuracy: rgba(230, 230, 117, 1);
        $damage: rgba(237, 20, 43, 1);
        $recharge: rgba(148, 148, 148, 1);
        $endurance: rgba(89, 160, 224, 1);
        $proc: rgba(225, 90, 227, 1);

        & > div {
          // Wrapper div for each pill section
          position: relative;
        }

        p {
          position: relative;
          color: black;
          font-size: 0.5rem;
          font-weight: 800;
          padding: 3px 4px;
          z-index: 0;

          border-radius: 0px;

          &.left {
            border-radius: 10px 0 0 10px;
            padding-left: 4px;
          }

          &.right {
            border-radius: 0 10px 10px 0;
            padding-right: 4px;
          }

          &.left.right {
            border-radius: 10px;
          }

          &.acc {
            background-color: $accuracy;
          }

          &.dmg {
            background-color: $damage;
          }

          &.rech {
            background-color: $recharge;
          }

          &.end {
            background-color: $endurance;
          }

          &.proc {
            background-color: $proc;
          }
        }

        div.pillDivider {
          position: absolute;
          content: " ";
          display: block;
          right: -8px;
          bottom: 6px;
          width: 16px;
          height: 2px;
          background-color: black;
          transform: rotate(-83deg);
          z-index: 1;
        }
      }
    }
  }
}

.setBonuses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 30%;
  padding: $lh/2 10px;

  background-color: $secondary;

  transition: opacity 0.25s;
  opacity: 1;

  &.disabled {
    opacity: 0;
  }

  p,
  h3,
  h4,
  div {
    color: black;
  }
}

.PowerStats {
  width: 30%;
  min-height: 100%;
  padding: $lh/2;

  background-color: $secondary;

  h2 {
    text-align: center;
    font-size: 1rem;
    color: black;
    line-height: $lh;
  }

  table {
    margin: $lh/2 0;
    width: 100%;
  }

  th,
  td {
    color: black;
    text-align: center;
    height: $lh;
  }

  th {
    height: 2 * $lh;
    vertical-align: middle;
  }

  td {
    width: 50px;
  }
}
