@import 'styles/variables.scss';

.Dropdown {
  .select,
  .option {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: white;
    height: $lh;
    padding: 0 5px;
    cursor: pointer;

    img {
      margin-right: 5px;
      height: $lh/1.25;
      width: $lh/1.25;
    }

    p {
      color: black;
      font: 400 12px Arial;
    }
  }

  .select {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      top: $lh/2 - 3px;
      z-index: 0;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #000 transparent transparent transparent;
    }
  }

  .options {
    position: absolute;
    width: 100%;

    .option {
      padding: 0 5px;

      &:hover {
        background-color: $main;

        p {
          color: $secondary;
        }
      }
    }
  }
}
