@import 'styles/variables.scss';

section.Powersets {
  min-width: 150px + $lh;
  max-width: 300px + 2 * $lh;
  width: 30%;

  & > div:first-of-type {
    // Powerset selection
    display: flex;
    flex-direction: column;
    width: fit-content;

    h2 {
      text-align: center;
      line-height: $lh;
      margin-bottom: $lh/2;
    }

    div.powersetContainer {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .powerset {
    margin: $lh/2 $lh/2;
    width: fit-content;

    h3 {
      text-align: center;
      line-height: $lh;
      min-height: $lh;
      min-width: 150px;
      width: 100%;
      margin-bottom: $lh/2;
    }

    select {
      height: $lh;
      font-size: 11px;
      width: 150px;
    }
  }

  .powersList {
    margin-top: $lh/2;
    p {
      line-height: $lh;
      min-height: $lh;
      cursor: pointer;
      font-size: 12px;
    }
  }
}
