@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

$maxWidth: 1200px;
$logoFont: "Nerko One", cursive;
$roboto: "Roboto";
$lh: 18px;

// Media
$mobile: "(max-width: 600px)";

// Colors
$main: #1b4ea8;
$dark: #0a1b3b;
$secondary: #fbfaf3;
$accent1: #279f8f;
$accent2: #1d4e4e;
$contrast: #9a3d3f;

// Responsive Sizes
$desktop: "(max-width: 1200px)";
