@import "styles/variables.scss";

.power,
.pill {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  background-color: #1b4ea8;

  transition: height 0.25s, border-radius 0.25s;

  &.toggled {
    cursor: default;
    height: 14 * $lh;
    border-radius: 0;
  }

  & > p {
    font-size: 12px;
    margin: 3px $lh/2 2 * $lh;
  }

  .enhPreviewContainer {
    display: flex;

    .enhPreviewList {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;

      padding: 0 $lh/2;
      max-width: 147px;
      width: 100%;

      .enhPreview {
        margin: $lh/2 2px 0;
        height: 1.5 * $lh;
      }
    }
  }
}
