@import 'styles/variables.scss';

.Planner {
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1265px;
    width: 100%;
    margin: 0 auto;
  }
}
