@import "styles/variables.scss";

$br: 20px;

.BuildList {
  div.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: $lh/2;

    div.set {
      margin: $lh;
      position: relative;

      div.setContainer {
        box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.7);
        border-radius: 20px;
        min-width: 225px;

        & > div:first-of-type {
          // Enhancement container
          padding: $lh / 2 $lh 0;
          background-color: $secondary;
          border-radius: 0 0 $br $br;
        }
      }

      h2 {
        min-height: $lh * 2;
        padding: $lh / 2;

        text-align: center;
        font-size: 16px;
        font-weight: 800;

        background-color: $accent2;
        cursor: pointer;

        border-radius: $br $br 0 0;
      }

      p {
        margin-bottom: $lh/2;
        padding: 0 10px;
        word-wrap: break-word;
      }

      .enhContainer {
        .enhancement {
          display: flex;
          cursor: pointer;

          p {
            line-height: $lh;
            min-height: $lh;
            font-size: 14px;
          }

          p:first-of-type {
            // Enhancement count
            color: $secondary;
            border-radius: 50%;
            padding: 0;
            width: 18px;
            text-align: center;
            font-size: 14px;
          }

          p:last-of-type {
            color: $dark;
          }
        }

        .powerList {
          cursor: default;
          display: flex;
          justify-content: center;
          background-color: $dark;

          position: absolute;
          right: 0;
          left: 0;
          bottom: 0px;
          z-index: -1;

          width: 100%;
          padding: $lh / 4 $lh / 2;

          border-radius: 0 0 15px 15px;

          transition: transform 0.5s;

          span {
            margin: $lh/4 0;
            font-size: 12px;
            line-height: $lh;
            min-height: $lh/2;
          }
        }

        .powerListBG {
          position: absolute;
          right: 0;
          left: 0;
          bottom: $lh;
          z-index: -2;

          width: 100%;
          cursor: default;
          background-color: $dark;
          padding: $lh;

          transition: transform 0.5s;
        }

        &:hover {
          .powerList,
          .powerListBG {
            transform: translateY(100%);
          }
        }
      }
    }
  }
}

.FilterButtons {
  height: $lh * 5;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);

  .filterContainer {
    padding: $lh 0;
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
  }

  label {
    line-height: $lh;
    min-height: $lh;
  }

  div.statsContainer {
    display: flex;
    flex-direction: column;
    height: $lh;
    width: 50%;

    label {
      text-align: center;
    }
  }

  div.statButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: $lh / 2 0;
    min-height: 1.5 * $lh;

    button {
      height: 1.5 * $lh;
      color: $secondary;
      font-weight: 800;
      height: 1.5 * $lh;
      font-size: 0.8rem;
      border-radius: 7px;
      margin: 0 5px;
      padding: 1px 10px;
      cursor: pointer;
    }
  }

  div.searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

    input {
      width: 100%;
      min-height: 1.5 * $lh;
      margin: $lh / 2 0;
    }
  }
}

.buildOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1px 10px;

    background-color: transparent;
    border: 1px solid $secondary;
    border-radius: 7px;
    height: 2 * $lh;
    color: $secondary;
    font-weight: 800;

    transition: background-color 0.25s;

    &:hover {
      background-color: $accent2;
    }

    svg {
      margin-right: 5px;
      font-size: 18px;
      font-weight: 200;
    }
  }
}
