@import "styles/variables.scss";

// AddFullSet
$maskSize: 24px;
.MaskOverEnhancement {
  width: $maskSize;
  height: $maskSize;
  border-radius: 50%;
  position: relative;
  left: 3px;
  top: 3px;

  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
