@import 'styles/variables.scss';

.BuildList {
  display: flex;
  margin-top: $lh;

  div.list {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.set {
      border: 1px solid $secondary;

      height: fit-content;

      width: 350px;

      h2 {
        text-align: center;
        font-weight: 800;
        border-bottom: 1px solid $secondary;
        padding: 10px;

        background-color: $accent2;
        word-wrap: break-word;
      }

      p {
        margin: 12.5px 0;
        padding: 0 10px;
        word-wrap: break-word;
      }
    }
  }
}

.FilterButtons {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  background-color: $main;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);

  div.statsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;

    label {
      text-align: center;
    }
  }

  div.statButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: $lh / 2 $lh / 2 0;

    button {
      height: fit-content;
      color: $secondary;
      font-weight: 800;
      line-height: $lh;
      font-size: 0.8rem;
      border-radius: 7px;
      margin: 0 5px;
      padding: 1px 10px;
    }
  }

  div.searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 25%;

    input {
      width: 100%;
      margin: $lh/2;
      height: $lh;
    }
  }
}

// .block {
//   width: 30%;
// }

.newBuild {
  position: fixed;
  right: 0px;
  top: $lh;
}
