@import 'styles/variables.scss';

.BuildList {
  display: flex;
  margin-top: $lh;

  div.list {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.set {
      border: 1px solid $secondary;

      height: fit-content;

      width: 350px;

      h2 {
        text-align: center;
        font-weight: 800;
        border-bottom: 1px solid $secondary;
        padding: 10px;

        background-color: $accent2;
        word-wrap: break-word;
      }

      p {
        margin: 12.5px 0;
        padding: 0 10px;
        word-wrap: break-word;
      }
    }
  }
}

.FilterButtons {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding-left: 10px;

  position: fixed;
  top: $lh;
  left: 0;

  button {
    height: fit-content;
    color: $secondary;
    padding: 7px;
    font-weight: 800;
  }
}

.block {
  width: 30%;
}

.newBuild {
  position: fixed;
  right: 0px;
  top: $lh;
}
