@import "styles/variables.scss";

.NavBar {
  position: fixed;
  top: $lh/2;
  right: 0;
  display: flex;
  align-items: center;

  height: 50px;
  padding: $lh/2 5px;

  background-color: $secondary;
  border-radius: 10px 0 0 10px;
  transition: right 0.25s;

  &.hidden {
    right: -180px;
  }

  img {
    // logo
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  & > button,
  & > div > button {
    transition: width 0.25s, height 0.25s;
    padding: $lh/2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
}
