@import "styles/variables.scss";

.NavBar {
  background-color: $secondary;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 5px;
    max-width: $maxWidth;

    & > div {
      // Button group

      display: flex;
      & > button,
      & > div > button {
        transition: width 0.25s, height 0.25s;
        padding: $lh/2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
      }

      & > button {
        width: 35px;
        height: 35px;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    color: $main;
    margin-right: 5px;
  }

  h1 {
    font-family: $logoFont;
    font-size: 2rem;
    color: $main;
  }
}
